* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* ----- Fuentes ----- */
    --Baskerville: 'Libre Baskerville', serif;
    --Franklin: 'Libre Franklin', sans-serif;
    /* ----- Fuentes ----- */
    
    /* ----- Fuentes tamaños ----- */
    /* Baskerville 400, 400 ita, 700 */
    --Baskerville400: 400;
    --Baskerville400Ita: 400 italic;
    --Baskerville700: 700;

    /* Franklin 300, 300 ita, 400, 500, 700, 700 ita */
    --Franklin300: 300;
    --Franklin300ita: 300 italic;
    --Franklin500: 500;
    --Franklin500: 700;
    --Franklin700ita: 700 italic;
    --small: 1.8rem;
    --medium:2.4rem;
    --big: 4rem;
    --bigger: 6rem;


    /* ----- Colores ----- */
    --clrTextos: rgb(69, 69, 69);
    --clrTextos2: RGB(240, 240, 240);
    --clrÉnfasis: rgb(236, 189, 45);
    --clrFondo: rgb(220, 220, 220);
    --clrFondo2: rgb(59, 59, 59);
    --clrFondo3: rgb(230, 230, 230);
    /* ----- Colores ----- */
    

    /* ----- Espaciados ----- */
    --pddngSecciones: 120px 0;
    --pddngItems: 25px 50px 50px;
    --pddngBotones: 15px 0;
    
    --mgnElemento: 40px;
    --mgnSubtítulos: 20px 0;
    --mgnBottom: 30px;
    --mgnTop: 30px;

    --maxWidth: 1350px;
    /* ----- Espaciados ----- */
}

html {
    font-size: 62.5%;
}

body {
    /*
    background-color: #e5e5f7;
    opacity: 1;
    background-image: radial-gradient(#444cf7 1.2000000000000002px, #e5e5f7 1.2000000000000002px);
    background-size: 24px 24px;*/


    background-color: #f1f1f6;
    opacity: 1;
    background-image: radial-gradient(#ecbd2d 0.75px, #f1f1f6 0.75px);
    background-size: 20px 20px;
    font-family: var(--Baskerville);
}

.contenedor {
    width: 90%;
    max-width: var(--maxWidth);
    margin: 0 auto;
    overflow: hidden;
    padding: var(--pddngSecciones);
}

.contenedor .cite {
    font-size: var(--small);
    margin: 15px 0;
}

.menu-nav {
    text-align: right;
    padding: 0;
    padding-top: 30px;
}

.menu-nav a {
    display: inline-block;
    text-decoration: none;
    margin-left: 20px;
    margin-top: 40px;
    color: white;
    font-size: var(--medium);
}

.menu-nav a:hover {
    text-decoration: underline;
}

.nav__link {
    display: inline-flex;
}

header {
    width: 100%;
    background-image: 
        linear-gradient(to top, rgba(0, 0, 0, .9) , rgba(90, 90, 90, .4)100%), 
        url('https://images.unsplash.com/photo-1529070538774-1843cb3265df?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8Y2xhc3Nyb29tJTIwdW5pdmVyc2l0eXxlbnwwfDB8MHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}

.hero {
    height: 600px;
    width: 100%;
    color: white;
    font-family: var(--Franklin700);
    font-size: var(--big);
}

/* ------------------------------- Header ------------------------------- */
.section {
    text-align: center;
    font-size: var(--bigger);
    font-weight: 700;
    color: var(--clrTextos);
    padding-bottom: 6rem;
    font-family: var(--Franklin);
}

.section1 {
    background-color: var(--clrFondo);
}

.contenedor-sobre-nosotros {
    display: flex;
    justify-content: space-evenly;
    flex-direction: column;
    flex-wrap: wrap;
    /* margin: 0 auto; */
}

.relatos {
    width: 80%;
    /* background-position: center; */
    padding-top: 45px;
    margin: 0 auto;
    margin-top: 45px;
}

.relato {
    padding: var(--pddngItems);
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 0px rgb(90, 90, 90, .95);
    background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    margin-bottom: 4rem;
    font-size: var(--medium);
}

.t-relato {
    font-style: 2.5rem;
    color: var(--clrTextos);
    margin-bottom: .5rem;
    /* margin-bottom: 10px; */
}

.ilustracion {
    width: 280px;
    height: 280px;
    border-radius: 50%;
    box-shadow: 1px 1px 1px 0px rgb(90, 90, 90, .95);
    background-size: cover;
    margin: 0 auto;
}

.portafolio {
    background-color: var(--clrÉnfasis);
}

.portafolio-contenedor {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-contenedor {
    width: 45%;
    height: 250px;
    margin-bottom: 20px;
}

.imagen-contenedor img {
    display: block;
    width: 280px;
    height: 280px;
    object-fit: cover;
    border-radius: 50%;
}

.copy__header {
    /* text-align: center; */
    font-family: var(--Baskerville);
    /* color: var(--clrTextos); */
    margin: var(--mgnSubtítulos);
    font-size: var(--medium);
    line-height: 3.5rem;
}

.nav__link li {
    list-style: none;
    /* font-size: var(--medium); */
    /* display: inline; */
    /* padding-top: 1000px; */
    
    
    /* align-items: center; */
}

.nav__menu {
    position: absolute;
    top: 30px;
    right: 30px;

    margin-left: auto;
    cursor: pointer;
    display: none;
}

.nav__img {
    display: block;
    width: 30px;
}

.nav__close {
    display: var(--show, none);
}
/* ------------------------------- Header ------------------------------- */
/* ------------------------------- Main ------------------------------- */
.actividades-extra {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
}

.ae_item {
    width: 40%;
    text-align: center;
    height: 500px;
    overflow: hidden;
}
/* ------------------------------- Main ------------------------------- */
/* ------------------------------- Mis Habilidades ------------------------------- */
.slider {
    width: 90%;
    max-width: var(--maxWidth);
    background-color: var(--clrFondo);
    margin: 0 auto;
    overflow: hidden;
    padding: var(--pddngSecciones);
}

.slider__container {
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    align-items: center;
    /* text-align: center; */
    gap: 1em;
}

.slider__body {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;

    background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');

    /* padding: var(--pddngItems); */
    padding: 100px;
    margin: var(--mgnElemento);
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 0px rgb(90, 90, 90, .95);
    max-width: var(--maxWidth);
    display: grid;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
}

.slider__body--show {
    opacity: 1;
    pointer-events: unset;
}

.slider__texts {
    /* padding-left: 100px; */
}

.slider__img {
    width: 320px;
    height: 320px;
    box-shadow: 1px 1px 1px 0px rgb(90, 90, 90, .95);

    border-radius: 50%;
    object-fit: cover;
    /* object-position: 50% 10%; */
    display: block;
    margin: 0 auto;

}

.slider__arrow {
    cursor: pointer;
    width: 90%;
}

.slider__arrow:nth-of-type(2) {
    justify-self: end;
}

.titulo-seccion {
    text-align: center;
    font-family: var(--Baskerville);
    font-size: var(--big);
    color: var(--clrTextos);
    margin-bottom: 1em;
}

.copy__sub {
    /* text-align: end; */
    
    font-family: var(--Baskerville);
    color: var(--clrTextos);
    margin: var(--mgnSubtítulos);
    font-size: var(--medium);
}
/* ------------------------------- Mis Habilidades ------------------------------- */
/* ------------------------------- Perfil academico ------------------------------- */
.projects {
    background: var(--clrÉnfasis);
}

.container {
    width: 90%;
    max-width: var(--maxWidth);
    margin: 0 auto;
    padding: var(--pddngItems);
    overflow: hidden;
}

.slider__yellow {
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
    display: grid;
    background-color: #f2f2f2;
    grid-template-columns: 1fr max-content;
    align-items: center;
    transition: opacity 1.5s;
    background: var(--clrÉnfasis);
}

.slider__yellow--show {
    opacity: 1;
    pointer-events: unset;
}

.slider__texts {
    max-width: 600px;
}

.copy {
    /* text-align: center; */
    font-family: var(--Baskerville);
    color: var(--clrTextos);
    margin: var(--mgnSubtítulos);
    font-size: var(--medium);
}

.copy__Ac {
    font-family: var(--Baskerville);
    color: var(--clrTextos);
    font-size: var(--medium);
}

.copy__item {
    text-align: left;
    height: 0;

    /* text-align: center; */
    /* margin: var(--mgnSubtítulos); */

    font-family: var(--Baskerville);
    color: var(--clrTextos);
    font-size: var(--medium);

    display: flex;
    flex-direction: column;

    transition: height .3s;
}

.subtitle {
    font-size: 2.5rem;
    margin-bottom: 20px;
}
/* ------------------------------- Perfil academico ------------------------------- */
/* ------------------------------- Extracurriculares ------------------------------- */
.extracurriculares {
    text-align: center;
}

.extra__img {
    margin: 50px auto;
    display: block;

    width: 320px;
    height: 320px;
    box-shadow: 1px 1px 1px 0px rgb(90, 90, 90, .95);

    object-fit: cover;
    border-radius: 50%;
}

.extra {
    padding: var(--pddngItems);
    margin: var(--mgnElemento);
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 0px rgb(90, 90, 90, .95);
    max-width: var(--maxWidth);
    background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
}
/* ------------------------------- Extracurriculares ------------------------------- */
.recomendacion__container {
    display: grid;
    gap: 2em;
    padding-top: 50px;
}

.extra__padding {
    width: 80%;
    padding: 0;
    transition: padding .3s;

    /* padding: var(--pddngItems); */
    /* margin: var(--mgnElemento); */
    margin: 20px auto;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 0px rgb(90, 90, 90, .95);
    max-width: var(--maxWidth);
    background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
}

.extra__padding--add {
    padding-bottom: 30px;
}

/* .extra__img {
    background-color: var(--clrFondo2);
} */

.extra__answer {
    padding: 0 50px 0;
    overflow: hidden;
}

.extra__arrow {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: flex;

    justify-content: center;
    align-items: center;
    align-self: flex-end;
    
    background-color: var(--clrFondo2);
    margin-left: 10px;
    transition: transform .3s;
}

.extra__arrow--rotate {
    transform: rotate(180deg);
}

.copy__extra {
    font-family: var(--Baskerville);
    font-size: var(--medium);
    color: var(--clrTextos);
    text-align: left;

    margin: var(--mgnSubtítulos);
    cursor: pointer;

    /* padding: 30px 0 30px; */
    /* color: coral; */

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.extra__img-arrow {
    /* display: block; */
    /* align-self: center; */
}

.copy__date {
    margin: 30px 0;
}
/* ------------------------------- Extracurriculares ------------------------------- */
/* ------------------------------- Footer ------------------------------- */
.form {
    width: 80%;
    margin: 0 auto;
    padding: 20px 60px;
    border-radius: 1rem;
    box-shadow: 1px 1px 1px 0px rgb(90, 90, 90, .95);
    max-width: var(--maxWidth);
    background-image: url('https://images.unsplash.com/photo-1604147706283-d7119b5b822c?ixid=MnwxMjA3fDB8MHxzZWFyY2h8Nnx8cGFwZXIlMjB0ZXh0dXJlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=500&q=60');
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__container {
    width: 100%;
    display: grid;
    gap: 1em;
    grid-auto-columns: 100%;
}

.copy__form {
    text-align: left;
    font-family: var(--Baskerville);
    color: var(--clrTextos);
    margin: var(--mgnSubtítulos);
    font-size: var(--medium);
    padding: 1em;
    outline: none;
    border: none;
    border: 1px solid var(--clrTextos);
}

.copy__form--message {
    resize: none;
    padding: 1em;
    margin-bottom: .5em;
}

.form__cta {
    font-family: var(--Baskerville);
    font-size: var(--medium);
    padding: var(--pddngBotones);
    background-color: var(--clrFondo2);
    color: var(--clrTextos2);
    border-radius: 6px;
    border: none;
    cursor: pointer;
}

footer {
    background: var(--clrÉnfasis);
}

footer .contenedor {
    background: var(--clrÉnfasis);
}

footer .titulo-seccion, footer .copy {
    /* color: var(--clrTextos2); */
}

.redes-sociales {
    padding-top: var(--pddngSecciones);
    width: 80%;
    /* background-color: white; */
    
    display: flex;
    margin: auto;
    margin-top: 90px;
    justify-content: space-evenly;
}

.redes-sociales a {
    font-size: 5rem;
    color: var(--clrTextos);
}

.copy__footer {
    text-align: center;
    font-family: var(--Baskerville);
    color: var(--clrTextos);
    /* margin: var(--mgnSubtítulos); */
    margin-top: 5rem;
    font-size: var(--medium);
}

/* ------------------------------- Footer ------------------------------- */
/* -------------------- Movil -------------------- */
@media screen and (max-width:1500px) {
    .hero {
        width: 80%;
    }
}

@media (max-width:1200px) {
    .slider__img {
        width: 220px;
        height: 220px;
    }

    .extra__img {
        width: 220px;
        height: 220px;
    }

    .slider__body {
        display: flex;
        flex-direction: column;
    }

    .slider__body {
        margin: auto;
    }
}

@media (max-width:780px) {
    .copy__form {
        font-size: var(--small);
    }

    .form {
        padding: 3.5em 1em;
    }

    .nav__menu {
        display: block;
    }

    .nav__link--menu {
        position: fixed;
        background-color: var(--clrFondo2);
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        z-index: 100;
        opacity: 0;
        pointer-events: none;
        transition: .7s opacity;
    }

    .nav__link--show {
        --show: block;
        opacity: 1;
        pointer-events: unset;
    }

    .nav__close {
        position: absolute;
        top: 30px;
        right: 30px;
        width: 30px;
        cursor: pointer;
    }

    .contenedor {
        padding: 50px 0;
    }

    /* .container {
        padding: 20px 0;
    } */

    .slider__container {
        grid-template-columns: 20px 1fr 20px;
        padding: 25px 0;
        /* height: 700px; */
        margin: 0 auto;
        padding: 0;
    }

    .slider__arrow {
        width: 200%;
    }

    .slider__yellow {
        display: flex;
        flex-direction: column;
        text-align: center;
        /* justify-items: center; */
        gap: 4em;
    }

    .hero {
        height: auto;
        font-size: var(--medium);
    }

    .copy__header {
        font-size: var(--small);
    }

    .titulo-seccion {
        font-size: 3rem;
    }

    .extra__answer {
        padding: 0 20px 0;
    }

    .extra__arrow {
        width: 20px;
        height: 20px;
    }

    .recomendacion__container {
        margin: auto;
        padding: auto;
    }

    .extra__padding {
        width: 90%;
        margin: auto;
    }

    .extra__answer {
        margin: 0 auto;
    }

    .slider {
        width: auto;
    }

    .slider__body {
        padding: 25px;
        text-align: center;
    }

    .copy__extra, .copy__item {
        font-size: var(--small);
    }
}
